.Nav-container{
  display: flex;
  height: 670px;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 50px;
  margin-right: 3%;
  border-right: black;
  background-color: #02C39A;
  justify-content:flex-start;
  font-weight: bold;
}

.line{
  width: 150px;
  height: 0px;
  margin-top: 30px;
  border: 1px solid #ffffff;
}

.user{
  padding-top: 8px;
  padding-left: 15px;
}

.image{
  width: 63px;
  height: 50px;
  margin-left: 20px;
  margin-top: 30px;
  
  background: url('../Pics/ecolewhite.png');
  background-size: contain;
  background-repeat: no-repeat;
}

ul.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: 2;
  }
  
  li.nav {
    float: left;
    margin:0;
  }
  
  li.nav a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.nav a:hover {
      display: block;
    background-color: white;
    color:#02C39A;
  }